---
import Image from "astro/components/Image.astro";
import home from "../../public/icons8-windows-11.svg";
import search from "../../public/icons8-search.svg";
import skills from "../../public/icons8-problem-solving-skills-96.svg";
import projects from "../../public/chart-decrease-svgrepo-com.svg";
import about from "../../public/id-card-identification-svgrepo-com.svg";
import contact from "../../public/message-svgrepo-com.svg";
import wifi from "../../public/wifi.svg";
import volume from "../../public/speaker-filled-audio-tool.svg";
import battery from "../../public/half-battery.svg";
import cellular from "../../public/cellular-svgrepo-com.svg";
import power from "../../public/charging.png";
---

<!-- ios nudge -->
  <div
    class="nudge relative min-lg:hidden top-0 z-20 bg-black h-[4dvh] rounded-b-2xl w-[30dvw] m-auto"
  >
  </div>
<!-- ios top bar -->
<div class="top-bar flex relative min-lg:hidden z-[19]">
  
  <!--ios time -->
  <div
    class="absolute bottom-0 left-0 ml-[8dvw] mt-[1dvw] text-white w-[15dvw] text-[0.8rem]"
  >
    {
      new Date().toLocaleTimeString("en-US", {
        hour: "numeric",
        minute: "numeric",
        hour12: true,
      })
    }
  </div>
  <!--cellular and battery -->
  <div
    class="flex absolute gap-1 mr-[8dvw] mt-[1dvw] bottom-0 right-0 w-[15dvw] text-[0.8rem]"
  >
    <Image
      src={cellular}
      loading="eager"
      width={17}
      alt="cellular"
      class="ml-2"
    />
    <p class="text-white font-extrabold">LTE</p>
    <Image
      src={power}
      loading="eager"
      width={20}
      alt="battery"
      quality={10}
      class="ml-2"
    />
  </div>
</div>

<!--responsive navbar windows/ios -->
{
  Astro.url.pathname === "/" && (
    <div
      id="searchBtnIos"
      class="icon ios-search flex text-white min-lg:hidden z-10 rounded-2xl scale-[1.1] px-2 py-1 w-fit absolute bottom-[20dvh] left-1/2 -translate-x-1/2"
    >
      <Image src={search} loading="eager" width={17} alt="search icon" />
      <p class="mx-2 text-[12px]">Search</p>
    </div>
  )
}
<nav class="flex fixed w-full justify-center h-[8dvh] bottom-0 p-[6px]">
  <div
    class="flex gap-2 items-center justify-center h-full m-auto max-lg:hidden"
  >
    <!-- windows taskbar and icons -->
    <a href="/" class="win-home w-12 h-10 flex items-center justify-center"
      ><Image
        id="icon-svg0"
        class="transition-all duration-200"
        src={home}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></a
    >

    <button
      id="searchBtn"
      class="win-search flex items-center justify-center rounded-2xl w-25 h-[30px] text-center text-white"
    >
      <Image
        id="search-svg"
        src={search}
        loading="eager"
        width={17}
        alt="search icon"
        class="ml-2 transition-all duration-300"
      />
      <p class="mx-2 text-[12px]">Search</p>
    </button>

    <button class="win-home w-12 h-10 flex items-center justify-center"
      ><Image
        id="icon-svg1"
        class="transition-all duration-200"
        src={skills}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></button
    >

    <button class="win-home w-12 h-10 flex items-center justify-center"
      ><Image
        id="icon-svg2"
        class="transition-all duration-200"
        src={projects}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></button
    >

    <button class="win-home w-12 h-10 flex items-center justify-center"
      ><Image
        id="icon-svg3"
        class="transition-all duration-200"
        src={about}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></button
    >

    <button class="win-home w-12 h-10 flex items-center justify-center"
      ><Image
        id="icon-svg4"
        class="transition-all duration-200"
        src={contact}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></button
    >

    <div class="flex gap-5 items-center absolute right-[2%]">
      <div class="flex gap-2">
        <Image
          src={wifi}
          width={16}
          loading="eager"
          height={16}
          class=""
          alt="wifi icon"
        />
        <Image
          src={volume}
          width={16}
          loading="eager"
          height={16}
          class=""
          alt="volume icon"
        />
        <Image
          src={battery}
          width={16}
          loading="eager"
          height={16}
          class=""
          alt="battery icon"
        />
      </div>

      <div class="text-[11px] text-white">
        {
          new Date().toLocaleTimeString("en-US", {
            hour: "numeric",
            minute: "numeric",
            hour12: true,
          })
        }
        <br />
        {new Date().toLocaleDateString("en-GB")}
      </div>
    </div>
  </div>

  <!--ios taskbar or whatever tf it's called and icons -->
  <div class="flex justify-around w-full items-center lg:hidden">
    <button
      class="icon w-14 h-14 bg-amber-600 active:bg-amber-700 rounded-2xl flex items-center justify-center"
      ><Image
        src={skills}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></button
    >

    <button
      class="icon w-14 h-14 flex bg-blue-400 active:bg-blue-500 rounded-2xl items-center justify-center"
      ><Image
        src={projects}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></button
    >

    <button
      class="icon w-14 h-14 flex items-center bg-red-600 active:bg-red-700 rounded-2xl justify-center"
      ><Image
        src={about}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></button
    >

    <button
      class="icon w-14 h-14 flex bg-green-500 active:bg-green-600 rounded-2xl items-center justify-center"
      ><Image
        src={contact}
        width={35}
        loading="eager"
        alt="windows home icon"
      /></button
    >
  </div>
</nav>
