---
import "../styles/global.css";
import Nav from "../components/nav.astro";

const {
  title = "Full-stack Web Developer Portfolio",
  url = "https://chidubem.name.ng",
  image = "https://chidubem.name.ng/project1.png",
} = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=array@400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://api.fontshare.com/v2/css?f[]=general-sans@200&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="/man.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta
      name="description"
      content="Hi, I'm a Full-stack Web Developer based in Lagos, Nigeria."
    />
    <meta
      name="keywords"
      content="Web Development, JavaScript, TypeScript, React, Frontend, Backend, Full-stack"
    />
    <meta name="author" content="Chidubem Emeka" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content="Full-stack Web Developer Portfolio" />
    <meta
      property="og:description"
      content="Hi, I'm a Full-stack Web Developer based in Lagos, Nigeria."
    />
    <meta property="og:image" content={image} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta
      property="twitter:title"
      content="Full-stack Web Developer Portfolio"
    />
    <meta
      property="twitter:description"
      content="Hi, I'm a Full-stack Web Developer based in Lagos, Nigeria."
    />
    <meta property="twitter:image" content={image} />

    <!-- Robots -->
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#0f172a" />
  </head>
  <body ontouchstart="" class="relative">
    <div id="backdrop" class="backdrop z-20 hidden absolute w-full h-full">
    </div>
    <Nav />
    <slot />
    <script src="../ts/script.ts"></script>
  </body>
</html>
